@keyframes move-box {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-20px);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes shake-head {
  0% {
    transform: translateX(0px) rotate(0deg);
  }
  15% {
    transform: translateX(0px) rotate(0deg);
  }
  50% {
    transform: translateX(-65px) translateY(28px) rotate(-30deg);
  }
  100% {
    transform: translateX(0px) translateY(0px) rotate(0deg);
  }
}

@keyframes shake-neck {
  0% {
    transform: translateY(0px) rotate(0deg);
  }
  15% {
    transform: translateY(0px) rotate(0deg);
  }
  50% {
    transform: translateY(15px) rotate(-10deg);
  }
  100% {
    transform: translateY(0px) rotate(0deg);
  }
}

@keyframes shake-body {
  0% {
    transform: translateX(0px) translateY(0px) rotate(0deg);
  }
  15% {
    transform: translateX(0px) translateY(0px) rotate(0deg);
  }
  50% {
    transform: translateX(10px) translateY(10px) rotate(-5deg);
  }
  100% {
    transform: translateX(0px) translateY(0px) rotate(0deg);
  }
}

@keyframes rotate-arm {
  0% {
    transform: rotate(20deg);
  }
  15% {
    transform: rotate(20deg);
  }
  50% {
    transform: translateX(15px) translateY(40px) rotate(10deg);
  }
  100% {
    transform: rotate(20deg);
  }
}

@keyframes shake-arm {
  0% {
    transform: translateX(0) rotate(0deg);
  }

  15% {
    transform: translateX(-63px) translateY(5px) rotate(-30deg);
  }
  30% {
    transform: translateX(0) rotate(0deg);
  }
  45% {
    transform: translateX(-63px) translateY(5px) rotate(-30deg);
  }
  60% {
    transform: translateX(0) translateY(0px) rotate(0deg);
  }
}

@keyframes cheek {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 100;
  }

  100% {
    opacity: 0;
  }
}
